.btn-one:hover{
  transition: all 0.5s ease-out;
  transform: scale(1.15);
  box-shadow:0px 0px 2px 2px whitesmoke;
}

.btn-two:hover{
  box-shadow:0px 0px 2px 2px whitesmoke;
  transition: all 0.5s ease-out;
  transform: scale(1.15);
}
.btn-one {
  border-radius: 20px;
  position: absolute;
  bottom:15rem;
  left:19rem;
  background-color: rgb(155, 26, 214);
  border: none;
}
.btn-two {
  position: absolute;
  bottom:15rem;
  left:10rem;
  border-radius: 20px;
  background-color: rgb(155, 26, 214);
  border: none;
}
body{
  position: absolute;
  top: 0;
  height: 45.5rem;
  width: 96rem;
  background-image:url(bg-logo.png);
}
.Heading{
  position: absolute;
  top: 5rem;
  left: 2rem;
  font-size: 5rem;
}
ul a {
  color: whitesmoke;
  margin-right: 8rem;
  font-size: 1.2rem;
}
ul a:hover {
  color: rgb(0, 0, 0);
}
ul{
  display: flex;
}
.main-div{
  height: 5.5rem;
  width: 80rem;
  position: absolute;
  top: 0;
  left: 15rem;
}
#bird-img{
  height: 150px;
  width: 150px;
  background-image:url(C:\Project\ticketbook\src\design\bird.jpeg);
  background-size: 150px 150px;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  left:1.5rem;
}
#input-button{
  height: 30px;
  width: 350px;
  position: absolute;
  top: 1rem;
  right:1rem;
}
#input-button input{
  height:2.5rem;
  width:15rem;
  background: none;
  border: 1px solid;
  border-top-color:rgb(79, 7, 99)  ;
  border-left-color:rgb(79, 7, 99) ;
  border-right-color:rgb(79, 7, 99) ;
  border-bottom-color:whitesmoke;
  margin-right:1rem;
  outline: none;
  color: white;
  font-size: 20px;
}
#input-button button{
  height:3rem;
  width:5rem;
  border-radius:2rem;
  background-color: whitesmoke;
  color: rgb(70, 12, 85);
}
.main{
  height:300px;
  width: 300px;
  background-color: whitesmoke;
  border-radius: 2rem 2rem;
  position: relative;
  left: 7rem;
  bottom: -2rem;
}
h2{
  color: rgb(128, 16, 184);
  position: relative;
  left: 5rem;
  top: 1rem;
}
.main input,label{
  color: rgb(115, 21, 137);
}
.main input{
  background: transparent;
  border: 1px solid;
  outline: none;
  border-top-color:whitesmoke;
  border-right-color:whitesmoke;
  border-left-color:whitesmoke;
  margin-top: 2rem;
}
.label-one{
  margin-right: 1.8rem;
  margin-left: 5px;
}
.label-two{
  margin-right: 0.3rem;
  margin-left: 5px;
}
.login{
  background-color: rgb(115, 21, 137);
  position: relative;
  left: 6rem;
  bottom: -3rem;
}
.main a{
position: relative;
bottom: -3.5rem;
left: 5rem;
outline: none;
}
.main a:hover{
  color: rgb(115, 21, 137);

}